<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
      
            <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
                 <!-- sidebar-->
               
                 <admin-sidebar></admin-sidebar> 
                 <!-- end sidebar-->
            </div>
            
            <div class="col-md-12 col-xs-12">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <!-- topbar-->
                <admin-topbar></admin-topbar> 
                
                    <!-- end topbar-->
                
                
                <div class="user-dashboard">
                    <!-- <h1>Hello, JS</h1> -->
                    <div class="row">
                        <div class="col-md-9 col-sm-5 col-xs-12 gutter ad-tp">
                            <div class="col-md-3">
                                <div class="cnts">
                                    <div class="col-md-4 text-center lh">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-8">
                                        
                                    </div>
                                </div>
                                
                            </div>
                           
                            <div class="col-md-3">
                                    <div class="cnts">
                                        <div class="col-md-4 text-center lh">
                                            <i class="la la-industry" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-8">
                                            
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col-md-3">
                                        <div class="cnts">
                                            <div class="col-md-4 text-center lh">
                                                <i class="la la-code-fork" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-8">
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                    </div>
                </div>
                
            </div>
                <!-- footer-->
                <admin-footer></admin-footer>
       <!-- end footer-->
        </div>
         </div>
        <!-- Modal -->
     </body>