<div class="row">
  <header>
      
      <div class="col-md-5 pull-right">
          <div class="header-rightside">
              <ul class="list-inline header-top pull-right">
                  <li class=""><a href="#" class="add-project">Add Project</a></li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell" aria-hidden="true"></i>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="items of notifications.req">
                            <a></a>
                        </li>
                    </ul>
                </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>
                          <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <div class="navbar-content">
                                  <span>JS Krishna</span>
                                  <p class="text-muted small">
                                      me@jskrishna.com
                                  </p>
                                  <div class="divider">
                                  </div>
                                  <a href="#" class="view btn-sm active">View Profile</a>
                              </div>
                          </li>
                      </ul>
                  </li>
                  <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>
  </header>
</div>