<body class="home">
  <div class="container-fluid display-table">
    <div class="row display-table-row">

      <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
        <!-- sidebar-->

        <app-user-sidebar></app-user-sidebar>
        <!-- end sidebar-->
      </div>

      <div class="col-md-12 col-xs-12">
        <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
        <!-- topbar-->
        <app-user-topbar></app-user-topbar>
        <!-- end topbar-->


        <div class="user-dashboard">
          <!-- <h1>Hello, JS</h1> -->
          <div class="row">
              <ul class="breadcrumb text-left">
                  <li><a routerLink="/user-projects">Projects</a></li>
                  
                  
                  <li>Employee Leave List </li>
                </ul>
            <div class="col-md-12 col-sm-12 col-xs-12 gutter ">
              <div class="white">

                <div class="text-center">
                  <app-spinner *ngIf="spinner"></app-spinner>

                </div>
                <ng-container *ngFor="let items of projects">
                  
                      <div class="col-md-3  text-center" *ngFor="let i of items.tbl_project_member_assocs" >
                          <div class="pro-container">
                              <h4>{{i.tbl_project.project_name}}</h4>
                              <p>{{i.tbl_project.project_code}}</p>
                              <p>{{i.tbl_project.status}}</p>
                              <p>Planned Start Date: <span *ngIf="i.tbl_project.actual_start_date">{{setDate(i.tbl_project.actual_start_date)}}</span></p>
                              <p>Planned End Date: <span *ngIf="i.tbl_project.actual_end_date">{{setDate(i.tbl_project.actual_end_date)}}</span></p>
                              <button class="viw-btn" (click)="viewProject(i.tbl_project.id)">View More</button>
                          </div>
                          
                      </div>
                  
                
                </ng-container>
              </div>
              <!--white-->
            </div>



          </div>


        </div>
        <!-- footer-->
        <!-- <admin-footer></admin-footer> -->
        <!-- end footer-->
      </div>
    </div>
  </div>
  <!-- Modal -->




  <!--delete modal------>
</body>