<body class="home" >
    <div class="container-fluid display-table">
        <div class="row display-table-row">
  
            <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
                <!-- sidebar-->
  
                <admin-sidebar></admin-sidebar>
                <!-- end sidebar-->
            </div>
  
            <div class="col-md-12 col-xs-12">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <!-- topbar-->
                <admin-topbar></admin-topbar>
                <!-- end topbar-->
  
  
                <div class="user-dashboard">
                    <!-- <h1>Hello, JS</h1> -->
                    <div class="row">
                      
                        <div class="col-md-12 col-sm-5 col-xs-12 gutter ad-tp dash-tbl">
                          <div class="col-md-12 spinner-cont" *ngIf="showSpinner">
                              <app-spinner  class="tbl-spnner"></app-spinner>
                          </div>
  
                            <div class="example-header" >
                                <mat-form-field class="mat-fltr padd-10">
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                         
                      <div class="example-container mat-elevation-z8 " *ngIf="!existStatus">
                      <mat-table #table [dataSource]="dataSource" matSort>
        
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell matHeaderCellDef mat-sort-header> SL NO. </mat-header-cell>
                          <mat-cell matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
                        </ng-container>
                    
                        <!-- Theme Name -->
                        <!-- <ng-container matColumnDef="role">
                          <mat-header-cell matHeaderCellDef mat-sort-header> TEAM NAME </mat-header-cell>
                          <mat-cell matCellDef="let row"> {{row.role}} </mat-cell>
                        </ng-container> -->
                      
  
                      
                        <!-- ID Column -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell matHeaderCellDef mat-sort-header> ACTION </mat-header-cell>
                            <mat-cell matCellDef="let row"> <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>



                            
                            <mat-menu #menu="matMenu">
                              
                              <button mat-menu-item (click)="setRights(row.id, row.role)">
                                <mat-icon><i class="material-icons mat-assign-icn">add_box</i></mat-icon>
                                <span>Assign</span>
                              </button>
                            </mat-menu>
                             </mat-cell>
                          </ng-container>
                        <mat-header-row matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                     
                      </mat-table>
                      <div class="col-md-12 noItemFound" *ngIf="existStatus">
                          <div class="col-md-4 col-md-offset-4">
                              <mat-toolbar   class="back-color">No item found!</mat-toolbar>
                          </div>
                          </div>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                      </div>
                    </div>
                   
                </div>
               
  
            </div>
            <!-- footer-->
            <!-- <admin-footer></admin-footer> -->
            <!-- end footer-->
        </div>
    </div>
    <!-- Modal -->
  
  </body>