.mat-form-field-underline {
    position: absolute;
    height: 1px;
    width: 96%;
    top: 48px;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    padding-left: 10px;
}

input.mat-input-element{
    /* border-radius: 50px; */
}
.mat-fltr {
    width: 100%;
    background-color: #fff;
    padding: 0 35px;
}
.form-inline .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding-left: 0;
}