fgdfg<body class="home" >
    <div class="container-fluid display-table">
        <div class="row display-table-row">
  
            <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
                <!-- sidebar-->
  
                <admin-sidebar></admin-sidebar>
                <!-- end sidebar-->
            </div>
  
            <div class="col-md-12 col-xs-12">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <!-- topbar-->
                <admin-topbar></admin-topbar>
                <!-- end topbar-->
  
  
                <div class="user-dashboard">
                    <!-- <h1>Hello, JS</h1> -->
                    <div class="row">
                      
                        df
                    </div>
                   
                </div>
               
  
            </div>
            <!-- footer-->
            <!-- <admin-footer></admin-footer> -->
            <!-- end footer-->
        </div>
    </div>
    <!-- Modal -->
  
  </body>