<body class="home">
    <div class="container-fluid display-table">
      <div class="row display-table-row">
  
        <div class="col-md-1 col-xs-12 display-table-cell v-align box" id="navigation">
          <!-- sidebar-->
  
          <app-user-sidebar></app-user-sidebar>
          <!-- end sidebar-->
        </div>
  
        <div class="col-md-12 col-xs-12">
          <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
          <!-- topbar-->
          <app-user-topbar></app-user-topbar>
          <!-- end topbar-->
  
  
          <div class="user-dashboard">
            <!-- <h1>Hello, JS</h1> -->
            <div class="row">
                <ul class="breadcrumb text-left">
                    <li><a href="#">Master Settings</a></li>
                    
                    
                    <li>Employee Leave List </li>
                  </ul>
              <div class="col-md-12 col-sm-12 col-xs-12 gutter ">
                <div class="white">
  
                  <div class="col-md-6" *ngIf="showData">
                    <div class="col-md-12">
                        <label for="">Project Name</label>
                        <label for="">{{project[0].project_name}}</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Project Code</label>
                        <label for="">Project Code</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Team Leader</label>
                        <label for="">Project Code</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Team Members</label>
                        <label for="">Project Code</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Start Date</label>
                        <label for="">Project Code</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">End Date</label>
                        <label for="">Project Code</label>
                    </div>
                    <div class="col-md-12">
                        <label for="">Status</label>
                        <label for="">Project Code</label>
                    </div>





                  <div class="col-md-12 col-xs-12 pull-right">
                      <div class="task">
                        <div class="col-md-9 col-xs-7">
                          <h5>Module Name</h5>
                        </div>
                        <div class="col-md-3 col-xs-5">
                          <ul class="taskedit">
                            <li>22 Hr</li>
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  









                  <div class="text-center">
                    <app-spinner *ngIf="spinner"></app-spinner>
  
                  </div>
                  
                </div>
                <!--white-->
              </div>
  
  
  
            </div>
  
  
          </div>
          <!-- footer-->
          <!-- <admin-footer></admin-footer> -->
          <!-- end footer-->
        </div>
      </div>
    </div>
    <!-- Modal -->
  
  
  
  
    <!--delete modal------>
  </body>