<div>
    <h1>Project Vs Status</h1>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-8 col-md-offset-2">
          <div class="col-md-6 bg-g">*Select Project</div>
          <div class="col-md-6 bg-hash">
            <select>
              <option>Taskit</option>
              <option>Survey</option>
            </select>
          </div> 
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="tasklabel">
              TASKS ASSIGNED
              <br>
              2
            </div>
            </div>
    
            <div class="col-md-6">
                <div class="tasklabel">
                TASKS COMPLETED
                <br>
                10
               </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="tasklabel">
              DUE THIS WEEK
              <br>
              10
            </div>
            </div>
    
            <div class="col-md-6">
                <div class="tasklabel">
               DUE NEXT WEEK
                <br>
                10
               </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="tasklabel">
              DUE THIS MONTH
              <br>
              10
            </div>
            </div>
    
            <div class="col-md-6">
                <div class="tasklabel">
                DUE THIS YEAR
                <br>
                10
               </div>
              </div>
          </div>
        </div>
        </div>
    
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="header">Task Vs Status</div>
                <div id="chart2" class="chart-container">
            
                </div>
            </div>
        </div>
    </div>
    